:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(255, 255, 255);
    --text-color: #121212;
    --accent-color: #4E9F3D;
}
/* General */
body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
}
.flex-type{
    display: flex;
}
a{
    text-decoration: none;
}
a:visited{
    color: var(--text-color);
}
a:hover,
a:focus{
    color: var(--accent-color);
    outline: solid 1px var(--accent-color);
    border-radius: 5px;
}
/* Typography */
h1,
h2,
p,
ul,
li{
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}
.text-accent{
    color: var(--accent-color);
}
.article-title{
    font-weight: 400;
}
img{
    width: 45%;
    margin: 0 auto;
    border-radius: 9px;
}
/* Colors */
i{
    color: var(--text-color);
    cursor: pointer;
}

/* Layout */
.width-container{
    margin: 0 auto;
    width: 95%;
}
/* Nav */
.nav-header{
    background-color: var(--primary-color);
    color: var(--text-color);
    border-bottom: solid 1px var(--text-color);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
nav li{
    list-style: none;
    margin-bottom: 0.3em;
}
nav ul{
    flex-direction: column;
    margin: 0;
}
@media (orientation: landscape) {
    .nav-container{
        flex-direction: row;
    }
    nav li{
        margin-left: 1em;
    }
    nav ul{
        flex-direction: row;
        margin: 0;
    }
}
nav a{
    text-decoration: none;
    color: var(--text-color);
}
nav a:visited{
    color: inherit;
}
nav a:hover,
nav a:focus{
    color: var(--accent-color);
    outline: none;
    border-radius: 5px;
}
.current-page{
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.current-page:visited{
    color: var(--accent-color);
}

/* Articles */

.home-post{
    display: flex;
    flex-direction: column;

    margin-top: 1em;
    padding: 0.4em;
    border-radius: 1.3em;
    border-top: solid 1px var(--text-color);
    border-bottom: solid 1px var(--text-color);
    background-color: var(--primary-color);
}
.post-date{
    color: gray;
    margin-top: 0.4em;
}
.post-description{
    margin-top: 0.6em;
}
.continue-link{
    display: block;
    margin-top: 1em;
    color: var(--accent-color);
}
.continue-link:visited{
    color: var(--accent-color);
}